<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>475636892200-u1avdgg2opmc4lvdbcoj5ed30thml6a5.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.475636892200-u1avdgg2opmc4lvdbcoj5ed30thml6a5</string>
	<key>API_KEY</key>
	<string>AIzaSyCENS2hY10jAieE4VvKomQIoBRytaA5frM</string>
	<key>GCM_SENDER_ID</key>
	<string>475636892200</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>net.yagom.VoiceRecorder</string>
	<key>PROJECT_ID</key>
	<string>voicerecorder-wanted-ad307</string>
	<key>STORAGE_BUCKET</key>
	<string>voicerecorder-wanted-ad307.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:475636892200:ios:08ec91907169d17df4ab1d</string>
</dict>
</plist>