<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>812834048167-kc0olpg3j6tjjrlq0o5rp6jjoi56cocn.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.812834048167-kc0olpg3j6tjjrlq0o5rp6jjoi56cocn</string>
	<key>API_KEY</key>
	<string>AIzaSyD2C281xok6-iNfOBfAr6F4436g4frTLJU</string>
	<key>GCM_SENDER_ID</key>
	<string>812834048167</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>net.yagom.VoiceRecorder</string>
	<key>PROJECT_ID</key>
	<string>voicerecorder-7fa55</string>
	<key>STORAGE_BUCKET</key>
	<string>voicerecorder-7fa55.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:812834048167:ios:108a47036b35121708f382</string>
</dict>
</plist>