<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>843436842979-a5o2bm5jsfllb9s6abmncrbpe1gbob1m.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.843436842979-a5o2bm5jsfllb9s6abmncrbpe1gbob1m</string>
	<key>API_KEY</key>
	<string>AIzaSyDH8PAjcjG5sOkBAAiJ-eqd4skJ4bao3VI</string>
	<key>GCM_SENDER_ID</key>
	<string>843436842979</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>net.yagom.VoiceRecorder</string>
	<key>PROJECT_ID</key>
	<string>wanted-voicerecorder-b5583</string>
	<key>STORAGE_BUCKET</key>
	<string>wanted-voicerecorder-b5583.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:843436842979:ios:b70215a34d629c731c0ad6</string>
</dict>
</plist>