<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>130003660231-oglr003jcjr35i355pji5o2q7hbt341h.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.130003660231-oglr003jcjr35i355pji5o2q7hbt341h</string>
	<key>API_KEY</key>
	<string>AIzaSyDUSmsTe8070nmKt-19v7T2lMFFzABugJQ</string>
	<key>GCM_SENDER_ID</key>
	<string>130003660231</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>net.yagom.VoiceRecorder</string>
	<key>PROJECT_ID</key>
	<string>wanted-voicerecorder-97771</string>
	<key>STORAGE_BUCKET</key>
	<string>wanted-voicerecorder-97771.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:130003660231:ios:188ec764ea9d0d1875bde2</string>
</dict>
</plist>